doctype Html
html
head
  title HobbyHive
  link(rel="stylesheet" href="/stylesheets/FrontDoorStyle.css")
  body
    ul
      li
        a(class="active" href="#home") home
      li
        a(href="#news") News
      li
        a(href="#Contact") Contact
      li
        a(href="#about") About
    h1(class="title")= title

    fieldset(align="center")
      legend Sign In or Sign Up
      form(action="/login" method="post" style="display:inline-block; margin:15px;")
        p
          label User ID
        p
          input(type="text" name="username")
        p
          label Password
        p
          input(type="password" name="password")
        p
          input(type="submit" value="Sign In")
      form(action="/register" method="post" style="display:inline-block;margin:15px;")
        p
          label User ID
        p
          input(type="text" name="username" placeholder="Not null")
        p
          label Password
        p
          input(type="password" name="password" placeholder="More than 6 character")
        p
          label Nick Name
        p
          input(type="text" name="nickname" placeholder="Not null")
        p
          label E-mail
        p
          input(type="text" name="Email" placeholder="Not null")
        p
          input(type="submit" value="Sign Up")
