doctype Html
html
head
  title HobbyHive
  link(rel="stylesheet" href="/stylesheets/FrontDoorStyle.css")
  body
    ul
      if isauthed == 'false'
        li
          a(class="active" href="/login") SignIn
        li
          a(class="active" href="/register") SignUp
      else
        li
          a(class="active" href="/logout") logout
        li
          a(class="active" href="#MyPage") MyPage
      li
        a(class="active" href="/") home
      li
        a(href="#news") News
      li
        a(href="#Contact") Contact
      li
        a(href="#about") About
    h1(class="title")= title

    block loginForm
